/* #region Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1400px;
}

:root {
    --boo-principal: #ff6900;
    --boo-dark: #1a1a1a;
    --boo-white: #ffffff;
    --boo-text_light: #e7e7e7;
    --boo-discount: #ff0000;
    --boo-sosteni: #008000;
}

/* #endregion Reset */


/* #region Debug */

.debug .head_site{
    height: 70px;
}

.debug .gender, .debug .logo, .debug .masthead{
    background-color: blue;
    height: 2rem;
    border: 1px solid black;
}

.debug .card {
    background-color: var(--boo-discount);
    height: 630px;
    border: 1px solid black;
}

.debug .foot_site {
    height: 70px;
    background-color: var(--boo-principal);
}

.debug .bool_srl, .debug .find_it {
    background-color: blue;
    height: 2rem;
    border: 1px solid black;
}


/* #endregion Debug */

/* #region Common */

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.head_site, .foot_site {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--boo-text_light);
}

.head_site, .foot_site {
    color: var(--boo-text_light);
    padding: 1rem 0;
}

.masthead a, .gender a {
    padding: 0 0.5rem;
    font-weight: bold;
}

.gender, .masthead {
    width: calc(100% / 12 * 5);
}

/* #endregion Common */


/* #region Header */

.head_site {
    background-color: var(--boo-principal);
}



.masthead {
    text-align: end;
}


.logo {
    width: calc(100% / 12 * 2);
}

.logo img {
    height: 2rem;
}



/* #endregion Header */

/* #region Main */

.card {
    width: calc(100% / 12 * 4);
    
}

.main_site .row {
    padding-top: 3rem;
}



/* #endregion Main */

/* #region Footer */

.bool_srl, .find_it {
    width: calc(100% / 12 * 6);
}


/* #endregion Footer */

